@model OutputCacheExample.Models.Person
@{
    ViewBag.Title = "AggressiveCacheProfile View";
}

<h2>Aggressive Cache Profile</h2>

@Html.Partial("PersonPartial", Model)
<p>Refresh the browser a number of times, you will notice that the 'Created' time only changes after every 15 seconds</p>



