@model OutputCacheExample.Models.Person
@{
    ViewBag.Title = "CachingView";
}

<h2>Caching View - Duration</h2>

@Html.Partial("PersonPartial", Model)
<p>Refresh the browser a number of times, you will notice that the 'Created' time only changes after every 10 seconds</p>

